<%- include ('./partials/header.ejs') %>

<body> 
    <%- include ('./partials/navbar.ejs') %>
    
    <div class="container">
        <hr>
        <h1><%= ask.title %></h1>
        <p><%= ask.description %></p>
        <hr>
        <form method="POST" action="/answer">
            <h3>Responda</h3>
            <label>Resposta:</label>
            <textarea placeholder="Digite sua resposta" name="text" class="form-control"></textarea>
            <br>
            <input type="hidden" name="askId" value="<%= ask.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
    </div>
</body>

<%- include ('./partials/script.ejs') %>